{% extends "base.html.twig" %}
{% block title %} Les employés {% endblock %} 
{% block styles %}
     <link rel="stylesheet" href="{{asset('styles/employe/index.css')}}">
{% endblock %}
{% block body %}

     <div class="containers container d-flex align-items-center justify-content-center flex-column gap-2">
          <div class="container-fluid d-flex align-items-center justify-content-between">
               <h2>Les employés</h2>
               <a href="{{path('employes.create')}}" class="btn btn-primary">Ajouter</a>
          </div>
          {% if flashes %}
               {% for key, value in flashes %}
                    {% if key == 'danger' or key == 'success' %}
                         <div class="alert alert-{{key}} d-flex align-items-center justify-content-center container">
                              {{value | join('')}}
                         </div>
                         {% do remove(key) %}
                    {% endif %}
               {% endfor %}
          {% endif %}
               
          <form action="" id="form-search" class="align-self-start d-flex align-items-center justify-content-center flex-row gap-2">
               <select name="colonne" id="" class="form-select">
                    <option value="" disabled>Rechercher par</option>
                    {% for tri in tris %}
                         <option {% if tri == data.colonne %} selected {% endif %} value="{{tri}}">{{ tri | capitalize }}</option>
                    {% endfor %}
               </select>
               <input value="{{data.search ?? ''}}" type="text" placeholder="Rechercher..." class="form-control" name="search">
               <input value="{{limit}}" type="number" id="limit" name="limit" id="" class="form-control" placeholder="Pagination...">
               <input type="submit" value="Rechercher" class="btn btn-primary btn-sm">
          </form>
          <table class="my-5 table table-striped">
               <thead>
                    <tr>
                         <th></th>
                         <th>Nom et prénom</th>
                         <th>Email</th>
                         <th>Phone</th>
                         <th>Adresse</th>
                         <th>Poste</th>
                         <th>Salaire</th>
                         <th></th>
                    </tr>
               </thead>
               <tbody>
                    {% for employe in employes %}
                         <tr>
                              <td></td>
                              <td><span class="fw-bolder">{{employe.nom}}</span> {{employe.prenom}}</td>
                              <td>{{employe.email}}</td>
                              <td>{{employe.phone}}</td>
                              <td>{{employe.address}}</td>
                              <td>{{employe.poste}}</td>
                              <td class="fw-bolder">{{employe.salaire | number_format(2, ',', ' ') | default('')}} Ar</td>
                              <td>
                                   <div class="d-flex gap-1">
                                        <a href="{{path('employes.edit', {'id': employe.id, 'slug': employe.nom})}}" class="btn btn-sm btn-success">Voir</a>
                                        <form action="{{path('employes.delete', {'id': employe.id})}}" method="POST">
                                             <button class="btn btn-sm btn-danger">Supprimer</button>
                                        </form>
                                   </div>
                              </td>
                         </tr>
                    {% endfor %}
               </tbody>
          </table>
          <div class="container d-flex align-items-center justify-content-between flex-row align-self-end">
               <h5 class="fw-bolder">{{count}} / {{total}}</h5>
               <div>
                    {% if maxPages > 1 %}
                         {% for i in range(1, maxPages) %}
                              <a href="?page={{i}}&search={{data.search}}&limit={{limit}}" class="paginate btn btn-outline-primary btn-sm">{{i}}</a>
                         {% endfor %}
                    {% endif %}
               </div>
          </div>
     </div>

     <script src="{{asset('script/employes/index.js')}}"></script>

{% endblock %}